<ion-content>
  <div class="pattern1">
    <img src="../../assets/qr-assets/pattern1.png" alt="">
  </div>

  <div class="container-trans-select">
    <div (click)="backToMain()"> <ion-icon name="arrow-back-outline" size="large"></ion-icon></div>
    <div> <img src="../../assets/logo.png"> </div>
    <div> <ion-icon name="help-circle-outline" size="large"></ion-icon></div>
  </div>

  <div class="container">
    <div class="item">
      Point Balance
    </div>
  </div>

  <div class="container2">
    <div class="item2">
      ₱
    </div>
    <div class="item2">
      99999
    </div>
   </div>

  <div class="center">
    <div class="rectangle">
      Redeem ₱ 99999
    </div>
  </div>


  <div class="center">
    <ion-card class="custom-card">
      <ion-card-header>
        <img src="../../assets/qr-assets/qr.png" alt="">
      </ion-card-header>
      <ion-card-content>
        8440001008958802 <ion-icon name="copy-outline"></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="center">
    <div class="text">More points, more rewards</div>
  </div>
  
  <div class="center">
    <div class="text2">Earn up to 3x the points when you use <br>your YvezBank debit card at Boss Yvez <br>partner brands.</div>
  </div>

  <div class="center">
    <div class="stores">
      <img src="../../assets/qr-assets/stores.png" alt="">
    </div>
  </div>

</ion-content>