<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>
      First Page
    </ion-card-title>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, maxime. Praesentium non tempora commodi mollitia.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>{{student[0].name}}</ion-card-title>
    <ion-card-content>
      Age : {{student[0].age}}
      Gender : {{student[0].gender}}
    </ion-card-content>
  </ion-card>
</ion-content>