@font-face {
    font-family: futura;
    src: url(../../assets/font/FuturaLT.woff);
}

//Background
.trans-bg{
    --ion-background-color: rgb(30,30,30) !important;
}
.pattern-circle{
    position: absolute;
    right: -220px;
    bottom: 15px;
    .img-patt{
        height: 881px;
        width: 869px;
    }
}

// Top Panels

.container-trans-select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1rem;
}

.img-arrow{
    max-height: 23px;
    max-width: 23px;
}

.trans-qr{
    height: 28px;
    width: 28px;
}

.txt-send{
    font-family: futura;
    font-size: 16px;
    font-weight: bold;
}

// Yvez Button

.btn-option-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1rem;
}
.yvez-btn{
    --background: rgb(64,64,64);
    font-family: futura;
    width: 168px;
    height: 74px;
}
.yvez-logo{
    position: relative;
    height: 48px;
    width: 34px;
}
#txt-yvez{
    position: relative;
    font-size: 24px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-weight: bold;
}
#txt-bank{
    padding-top: 20px;
    font-weight: bold;
}

// Other Bank Button

.other-bank-btn{
    --background: rgb(64,64,64);
    font-family: futura;
    width: 168px;
    height: 74px;
}
.other_bank_logo{
    position: relative;
    height: 28px;
    width: 28px;
}
#txt-other-bank{
    position: relative;
    padding-left: 10px;
}

// Send & Invite Button

.send-inv-card{
    --background: rgb(64,64,64);
    font-family: futura;
    height: 78px;
}
.txt-invite{
    position: relative;
    padding-top: 4px;
    color: white;
}
.div-send-title{
    display: flex;
    width: 100%;
    padding-left: 10px;
}

.db-arrow{
    position: relative;
    height: 26px;
    width: 26px;
}
.new-logo{
    position: relative;
    height: 18px;
    width: 44px;   
}
.send-card-content{
    display: flex;
    position: absolute;
    padding-top: 20px;
    padding-left: 15px;
}
.txt-money{
    color: white;
    font-size: 12px;
}