@font-face {
    font-family: futura;
    src: url(../../assets/font/FuturaLT.woff);
}

// Customization of placeholder
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

//Background
.trans-bg{
    --ion-background-color: rgb(30,30,30) !important;
}
.pattern-circle{
    position: absolute;
    right: -220px;
    bottom: 15px;
    .img-patt{
        height: 881px;
        width: 869px;
    }
}

// Top Panels

.container-trans-select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1rem;
}

.img-arrow{
    max-height: 23px;
    max-width: 23px;
}

.trans-qr{
    height: 28px;
    width: 28px;
}

.txt-send{
    font-family: futura;
    font-size: 16px;
    font-weight: bold;
}

// Yvez Button

.btn-option-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0px 20px 0px 20px;
}
.yvez-btn{
    --background: rgb(64,64,64);
    font-family: futura;
    width: 168px;
    height: 74px;
    flex-shrink: 0;
}
.yvez-logo{
    position: relative;
    height: 48px;
    width: 34px;
}
#txt-yvez{
    position: relative;
    font-size: 24px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-weight: bold;
}
#txt-bank{
    padding-top: 20px;
    font-weight: bold;
}

// Other Bank Button

.other-bank-btn{
    --background: rgb(64,64,64);
    font-family: futura;
    width: 168px;
    height: 74px;
    flex-shrink: 0;
}
.other_bank_logo{
    position: relative;
    height: 28px;
    width: 28px;
}
#txt-other-bank{
    position: relative;
    padding-left: 10px;
}

// Send & Invite Button

.send-inv-card{
    --background: rgb(64,64,64);
    font-family: futura;
    height: 78px;
}
.txt-invite{
    position: relative;
    padding-top: 4px;
    color: white;
}
.div-send-title{
    display: flex;
    width: 100%;
    padding-left: 10px;
}

.db-arrow{
    position: relative;
    height: 26px;
    width: 26px;
}
.new-logo{
    position: relative;
    height: 18px;
    width: 44px;   
}
.send-card-content{
    display: flex;
    position: absolute;
    padding-top: 20px;
    padding-left: 15px;
}
.txt-money{
    color: white;
    font-size: 12px;
}

// List of Transaction

.list-friend{
    display: flex;
    overflow: hidden;
    background-color: #FFFFFF;
    height: 35em;
    width: 100%;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
}

.block
{
  z-index: 2;
  margin: 0 auto;
  width: 100%;
  padding: 20px 30px;   
}
.input-res
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #333;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 44px;
  font-family: futura;
  background-color: #ddd;
  border: none;
  padding-left: 45px;
  box-shadow: none;
  outline: none;
  margin: 0;
  background-color: rgb(230,223,241);
  color: rgb(6, 6, 6);
  border-radius: 46px;
  border: unset;
}

.input-col{
    width: 100%;
}
.img-srch{
    margin: 10px -13px -33px 0 !important;
    background-color: transparent;
    font-size: 27px;
    padding: 0px 20px;
    z-index: 5 ;   
}

.save-profile{
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
    width: 100%;
    padding: 20px 0px;   
}

#initials{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1E1E1E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 3;
}
.initials-placement{
    display: flex;
    position: relative;
    right: 50px;
    bottom: 5px;
    width: 54px;
    height: 54px; 
}
.img-circol{
    width: 100%;
    position: relative;
    float: left;
}

.prof-container{
    position: relative;
    padding: 10px 0px 20px 50px;
    text-align: center;
}

#save-name{
    width: 114px;
    height: 17px;
    position: absolute;
    bottom: 50px;
    left: 70px;
    color: #1E1E1E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-overflow: ellipsis; /* enables ellipsis */
    white-space: nowrap; /* keeps the text in a single line */
    overflow: hidden; /* keeps the element from overflowing its parent */
}
.name-container{
    text-align: center;
    flex-shrink: 0;
    overflow: hidden;
}

#save-bank{
    position: absolute;
    color: #1E1E1E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    bottom: 35px;
    left: 70px;
}
.bank-container{
    text-align: center;
    flex-shrink: 0;
    overflow: hidden;
}

#save-date{
    color: #1E1E1E;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 230px;
    bottom: 50px;
}
.date-container{
    text-align: center;
    flex-shrink: 0;
    overflow: hidden;
}