<ion-content class="trans-bg">
    <!--Background-->
    <div class="pattern-circle">
        <ion-img class="img-patt" src ="../../assets/transfer-icons/Pattern_test.png"></ion-img>
        </div>
    
    <!--send & transfer-->    

    <div class="container-trans-select">
        <div> <img class="img-arrow" src="../../assets/transfer-icons/right-arrow.png" alt="arrow"></div>
        <div> <p class="txt-send">Send & Transfer</p> </div>
        <div><img class="trans-qr" src="../../assets/transfer-icons/trans-qr.png" alt="qr-code"></div>
    </div>

     <!--Button Option 1 & 2--> 

     <div class="btn-option-container">
        <div>
            <ion-button class="yvez-btn">
                <ion-img class="yvez-logo" src="../../assets/transfer-icons/yvez_btn/yvez_logo.png"></ion-img>
                <p id="txt-yvez">yvez</p><br><p id="txt-bank">bank</p>
            </ion-button>
        </div>
        <div>
            <ion-button class="other-bank-btn">
                <ion-img class="other_bank_logo" src="../../assets/transfer-icons/yvez_btn/bank_logo.png"></ion-img>
            <p id="txt-other-bank">Other Banks</p>
            </ion-button>
        </div>
     </div>

       <!--Card Send & Invite--> 

       <ion-card class="send-inv-card">
            <div class="div-send-title"> 
                <ion-grid>
                <ion-row>
                    <ion-col size="auto">
                        <ion-img class="db-arrow" src="../../assets/transfer-icons/db_arrow.png"></ion-img>       
                    </ion-col>

                    <ion-col size="auto">
                    <div class="txt-invite"><ion-text>Send & Invite</ion-text> </div> 
                    </ion-col>

                    <ion-col size="auto">
                        <ion-img class="new-logo" src="../../assets/transfer-icons/new.png"></ion-img>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div class="send-card-content">
                <p class="txt-money">Send money to your phone contacts, they’ll get it after opening an account.</p>
              </div>
            </div>
       </ion-card>

      <!--List of Transaction-->
       
      
      <div class="list-friend">
        <div class="block">
            <img class="img-srch" src="../../assets/transfer-icons/search.png" alt="">
            <input type="text" placeholder="Search" class="input-res">

                <div class="save-profile">
                    <img class="img-circol" src="../../assets/transfer-icons/circol.png" alt="circol">
                    <div class="init-container">
                        <h1 id="initials">EJ</h1>
                        <div class="name-container">
                            <h1 id="save-name">Elijah Joshua A. Dimaculangan</h1>
                        </div>
                        <div class="bank-container">
                            <h1 id="save-bank">G-Xchange</h1>
                        </div>
                        <div class="date-container">
                            <h1 id="save-date">Nov 03,2023</h1>
                        </div>
                    </div>
                </div> 
        </div>
      </div>

  
      

</ion-content>