<ion-content>
  <div class="img">
    <img src="../../assets/logo.png">
  </div>

<ion-grid>
  <ion-row>
    <ion-col>
      <swiper-container
        (slidechange)="swiperSlideChanged($event)"
        [loop]= "true"
        [pagination]= "true"
        class="images"
      >
        <swiper-slide>
          <ion-img src= "../../assets/LOGIN PICS//Minimal_Professional_Economics_Bank_Logo-removebg-preview (1).png"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src= "../../assets/LOGIN PICS/Minimal_Professional_Economics_Bank_Logo-removebg-preview.png"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src= "../../assets/LOGIN PICS/Minimal_Professional_Economics_Bank_Logo__1_-removebg-preview (1).png"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src= "../../assets/LOGIN PICS/Minimal_Professional_Economics_Bank_Logo__1_-removebg-preview.png"></ion-img>
        </swiper-slide>
      </swiper-container>
    </ion-col>
  </ion-row>
</ion-grid>


<div class="center" (click)="redirectToRegister()"> 
  <ion-button id="ion-button1" style = "height: 64px; width: 346px" size = "small" shape = "round">Open an Account</ion-button>
</div>
<div class="center" (click)="redirectToLogin()">
  <ion-button id="ion-button2" style = "height: 61px; width: 346px; " size = "small" fill = "outline" shape = "round">Log In</ion-button>
</div>

</ion-content>


