<ion-content>
  <div class="img">
    <img src="../../assets/logo.png">
  </div>

<ion-grid>
  <ion-row>
    <ion-col>
      <swiper-container
        (slidechange)="swiperSlideChanged($event)"
        [loop]= "true"
        [pagination]= "true"
        class="images"
      >
        <swiper-slide>
          <ion-img src= "../../assets/LOGIN PICS//Minimal_Professional_Economics_Bank_Logo-removebg-preview (1).png"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src= "../../assets/LOGIN PICS/Minimal_Professional_Economics_Bank_Logo-removebg-preview.png"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src= "../../assets/LOGIN PICS/Minimal_Professional_Economics_Bank_Logo__1_-removebg-preview (1).png"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src= "../../assets/LOGIN PICS/Minimal_Professional_Economics_Bank_Logo__1_-removebg-preview.png"></ion-img>
        </swiper-slide>
      </swiper-container>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button
      id="ion-button1"
      size="Large"
      shape="round">
      Open an Account
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button
      size="Large"
      id="ion-button2"
      fill="outline"
      shape="round">
      Log-in
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

  

</ion-content>


