<ion-content>
  <div class="flex-container">
    <div class="flex-items">
      <ion-icon name="person-outline" size="large" ></ion-icon>
    </div>
    <div class="flex-items">
      <img src="../../assets/logo.png">
    </div>
    <div class="flex-items">
      <ion-icon name="help-circle-outline" size="large"></ion-icon>
    </div>
 </div>

 <div class="container">
  <div class="item">
    My account
  </div>
  <div class="item">
    <ion-icon name="arrow-forward-outline" size="small"></ion-icon>
  </div>
 </div>

 <div class="container2">
  <div class="item2">
    ₱
  </div>
  <div class="item2">
    99999
  </div>
 </div>

 <div class="container3">
   <div class="items3">
    <img src="../../assets/deposit.png" alt=""><br>
    Deposit
   </div>
   <div class="items3">
    <img src="../../assets/transfer.png" alt=""><br>
    Transfer
   </div>
   <div class="items3">
    <img src="../../assets/qr.png" alt=""> <br>
    QR
   </div>
 </div>

</ion-content>