<ion-content>
  <div class="container-trans-select">
    <div (click)="backToMain()"> <ion-icon name="arrow-back-outline" size="large"></ion-icon></div>
    <div> <img src="../../assets/logo.png"> </div>
    <div> <ion-icon name="help-circle-outline" size="large"></ion-icon></div>
  </div>

  <div class="title">
    Deposit
  </div>

  <div class="center">
    <ion-button fill="clear" color="light">
      <img class="online" src="../../assets/deposit-assets/online.png" alt="">
    </ion-button>
  </div>

  <div class="center">
    <ion-button fill="clear" color="light">
      <img class="over-the-counter" src="../../assets/deposit-assets/over the counter.png" alt="">
    </ion-button>
  </div>

  <div class="center">
    <ion-button fill="clear" color="light">
      <img src="../../assets/deposit-assets/abroad.png" alt="" class="abroad">
    </ion-button>
  </div>

  <div class="center">
    <ion-card>
      <img src="../../assets/deposit-assets/account-details.png" />
      <ion-card-content>
        Name
        <br>
        <div class="text">
          ICOCO
          <ion-icon name="copy-outline"></ion-icon>
        </div>
        <hr>
        Account Number
        <div class="text">
          123123123
          <ion-icon name="copy-outline"></ion-icon>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>