  
    <ion-content class="bg-color-content">
      <!-- Top Panel -->
      <div class="bnk-lay">
        <div> <img class="img-arrow" src="../../../assets/transfer-icons/send-right-arrow-2.png"></div>
        <div class="pos-txt-send"> <p class="txt-send">To YvezBank</p> </div>
      </div>

      <!--Background--> 
      <div class="pattern-circle">
        <img class="img-patt" src="../../../assets/transfer-icons/send-bg.png" class="img-patt">
      </div>

      <!-- Available Bal -->

      
    </ion-content>
   