<ion-header>
  <ion-toolbar color="primary">
    <ion-title>LABX2</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="primary">LOG IN</ion-card-title>
          </ion-card-header>
            <ion-list>
              <ion-item fill="outline">
                <ion-label position="stacked">Email</ion-label>
                <ion-input type="email" placeholder="john@doe.com"></ion-input>
              </ion-item>
              <br>
              <ion-item fill="outline">
                <ion-label position="stacked">Password</ion-label>
                <ion-input type="password" placeholder="********"></ion-input>
              </ion-item>
              <ion-item class="last-item">
                <ion-button href="next.page.html">LOGIN&nbsp;<ion-icon name="arrow-forward-circle"></ion-icon></ion-button>
              </ion-item>
            </ion-list>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="primary">REGISTER</ion-card-title>
          </ion-card-header>
          <ion-list>
            <ion-item fill="outline">
              <ion-icon name="person-circle-outline"></ion-icon>
              <ion-input type="text" placeholder="John Wick"></ion-input>
            </ion-item>
            <br>
            <ion-item fill="outline">
              <ion-icon name="mail"></ion-icon>
              <ion-input type="email" placeholder="john@doe.com"></ion-input>
            </ion-item>
            <br>
            <ion-item fill="outline">
              <ion-icon name="key"></ion-icon>
              <ion-input type="password" placeholder="*******"></ion-input>
            </ion-item>
            <br>
            <ion-item fill="outline">
              <ion-icon name="location" ></ion-icon>
              <ion-textarea placeholder="Full Address"></ion-textarea>
            </ion-item>
            <br>
            <ion-item>
              <ion-icon name="male-female"></ion-icon>
              <ion-select aria-label="gender" placeholder="Gender" style="width: 100%;">
                <ion-select-option value="Male">Male</ion-select-option>
                <ion-select-option value="Female">Female</ion-select-option>
                <ion-select-option value="Others">Others</ion-select-option>
              </ion-select>
            </ion-item>
            <br>
            <ion-item>
              <ion-radio-group value="selected">
                <ion-radio value="selected" labelPlacement="end" justify="start">I want to receive notifications</ion-radio>
                <ion-radio labelPlacement="end" justify="start">I don't want to receive notifications</ion-radio>
              </ion-radio-group>
            </ion-item>
            <ion-item>
              <ion-checkbox labelPlacement="end">I agree to the terms and conditions</ion-checkbox>
            </ion-item> 
            <ion-item class="last-item">
              <ion-button>REGISTER&nbsp;<ion-icon name="arrow-forward-circle"></ion-icon></ion-button>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>