ion-content {
  --ion-background-color: #e6dff1;
}

#backButton {
  height: 23px;
  width: 23px;
  margin-top: 39px;
  margin-left: 27px;
}

#logo {
  height: 63px;
  width: 125px;
  margin-top: 35px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressBar {
  position: relative;
  width: 293px;
  height: 10px;
  background-color: #c3bad1;
  border-radius: 3px;
  margin-top: 29px;
}

.progressBar::before {
  content: "";
  display: flex;
  align-items: center;
  background-color: #c597f2;
  height: 10px;
  width: calc(var(--width) * 7.69%);
  max-width: 100%;
  position: absolute;
  border-radius: 3px;
}

.progBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: "Gidugu";
  src: url(../../assets/font/Gidugu-Regular.ttf);
}

.reg1Label {
  font-size: 48px;
  font-family: "Gidugu";
  color: #404040;
  //width: 297px;
  margin-top: 45px;
  margin-left: 13px;
}

.reg1Label p {
  margin-top: -45px;
}

.ynButton {
  width: 165px;
  height: 54px;
  --border-radius: 51px;
  --background: #9382c3;
  margin-top: -80px;
  --background-activated: #d1bfed;
  --color-activated: #404040;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.ynbuttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#popup {
  width: 352px;
  height: 361px;
  background-color: #ffffff;
  border-radius: 25px;
  margin-top: -65px;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}
.popupCard {
  display: none;
  //display: block;
}

.mask {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.show {
  position: relative;
  z-index: 2;
}

.popupCardshow {
  display: block;
}

.cardHeader {
  background-color: white;
  color: #404040;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 25px;
  width: 352px;
  display: flex;
  flex-direction: column;
}

.cbLabel {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  margin-top: 30px;
}

ion-checkbox {
  --size: 18px;
  --checkbox-background-checked: #a889ff;
  --checkbox-background: white;
  --checkmark-color: black;
}

ion-checkbox::part(container) {
  border: 1px solid black;
}

.contButton {
  width: 295px;
  height: 51px;
  --border-radius: 51px;
  --background: #9382c3;
  --background-activated: #d1bfed;
  --color-activated: #404040;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 40px;
}

.reg2Label {
  font-size: 40px;
  font-family: "Gidugu";
  color: #404040;
  //width: 297px;
  margin-left: 13px;
}

.mobileLabel {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #404040;
  font-size: 12px;
  margin-left: 19px;
}

#flag {
  width: 25px;
  height: 25px;
}

.inputNo {
  display: flex;
  flex-direction: row;
  color: #404040;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 19px;
}

.input {
  --color: #404040;
}

.hr {
  width: 353px;
  height: 2;
  background-color: black;
  margin-top: -1px;
}

.nextButton {
  width: 349px;
  height: 54px;
  --border-radius: 51px;
  --background: #a889ff;
  --background-activated: #d1bfed;
  --color-activated: #404040;
  color: #404040;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-seri;
  position: absolute;
  bottom: 0;
  margin-bottom: 35px;
}

.nextBContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.hr2 {
  width: 48px;
  height: 2;
  background-color: black;
}

.otpSub {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  color: #404040;
  margin-left: 19px;
  margin-top: -28px;
}

.otpSub2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  color: #404040;
  position: absolute;
  bottom: 0;
  margin-bottom: 95px;
  margin-left: 19px;
}

.otpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otpNumber {
  font-family: "Gidugu";
  font-size: 40px;
  color: #404040;
}

.placeholder {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  color: #808080;
  margin-bottom: 2px;
}

.emailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
}

.selfie {
  width: 216px;
  height: 216px;
}

.selfieCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selfieLb1 {
  font-family: "Gidugu";
  font-size: 40px;
  color: #404040;
  text-align: center;
}

.selfieLb2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: #404040;
  text-align: center;
  margin: 20px;
  margin-top: -20px;
}

.selfieButton {
  width: 349px;
  height: 54px;
  --border-radius: 51px;
  --background: #a889ff;
  --background-activated: #d1bfed;
  --color-activated: #404040;
  color: #404040;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-seri;
}

.lock {
  width: 23px;
  height: 23px;
}

.labelCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.selfieLb3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  color: #404040;
  text-align: center;
}
